.vscode/**
.vscode-test/**
out/*.map
src/**
node_modules/**
!node_modules/puppeteer-core/**
!node_modules/chromium-bidi/**
!node_modules/devtools-protocol/**
!node_modules/@puppeteer/**
!node_modules/webdriver-bidi-protocol/**
!node_modules/ws/**
!node_modules/mitt/**
!node_modules/typed-query-selector/**
!node_modules/debug/**
!node_modules/ms/**
vsc-extension-quickstart.md
**/tsconfig.json
**/.gitignore
**/.eslintrc.json
**/.vscodeignore
*.vsix
.DS_Store
